AIRFLOW_UID=50000

SIMULATOR_HOST=simulator
SIMULATOR_PORT=8000
SIMULATOR_SCALE_TIER=dev

DUCKDB_PATH=/opt/airflow/data/fintech.duckdb
DUCKDB_RAW_SCHEMA=raw
DUCKDB_STAGE_SCHEMA=stage
DUCKDB_CURATED_SCHEMA=curated
DUCKDB_OBSERVABILITY_SCHEMA=observability
RAW_DATA_LAKE_ROOT=/opt/airflow/data_lake/raw
RAW_MANIFEST_ROOT=/opt/airflow/data_lake/manifests
PARQUET_CHUNK_ROWS=100000
DBT_THREADS=4

AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=LocalExecutor
